body {
    font-family: 'Cabin', sans-serif;
    margin-top: 120px;
}
.container {
    width: 80% !important;
}

nav {
    background-color: #373A3C;
}

.logo-texto {
    font-family: 'Lobster',sans-serif;
    font-size:37pt;
}

.size-cabin {
    font-size: 16pt;
}

.carousel-item img {
    height: 100%;
    width: 100%;
}

.carousel-indicators [data-bs-target] {
    position: relative;
    top: 60px;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 24px;
    background-color:#373A3C;
  }

  .receta-promo span {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    line-height: 15pt;
  }
  
  .lista-ingrediente {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .lista-preparacion {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0;
    margin: 0;
  }

  .card img {
    width: 100%;
  }

  .suscribete {
    height: 450px;
  }

  footer {
    height: 90px;
    background-color: #373A3C;
  }

  .footer-logo-texto {
    font-family: 'Lobster',sans-serif;
    font-size:20pt;
}